<p>
  Before you can analyze data you need to clean it. Data cleaning identifies errors and corrects formatting to create
  consistent data. This step must be taken with extreme care and attention because without clean data the results of
  analysis may be false and non-reproducible.

  OpenRefine is a powerful free and open source tool for working with messy data: cleaning it and transforming it
  from one format into another.

  This lesson will teach you to use OpenRefine to clean and format data effectively and automatically track any changes
  that you make. Many people comment that this tool saves them literally months of work trying to make these edits by
  hand.
</p>
